<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <ul>
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.send_picture') }}">Send Picture</a></li>
        <li><a href="{{ url_for('main.my_image_packages') }}">My Image Packages</a></li>
        <li><a href="{{ url_for('main.outbox') }}">Outbox</a></li>
        <li><a href="{{ url_for('main.grant_access') }}">Grant Sharing Access</a></li>
        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
    </ul>
</body>
</html>
