<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Image Packages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='my_image_packages.css') }}">
</head>
<body>
    <h1>My Outbox</h1>
    <table class="package-table">
        <thead>
            <tr>
                <th>Package ID</th>
                <th>Filename</th>
                <th>Sent At</th>
                <th>Recipient</th>
                <th>Track</th>
            </tr>
        </thead>
        <tbody>
            {% for image in image_details %}
                <tr>
                    <td>{{ image.package_id }}</td>
                    <td><a href="{{ url_for('show_image', image_id=image.content_id) }}">{{ image.filename }}</a></td>
                    <td>{{ image.sent_at }}</td>
                    <td>{{ image.recipient }}</td>
                    <td><a href="{{ url_for('tree', package_id=image.package_id) }}">Track this Upload</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.send_picture') }}">Send Picture</a></li>
        <li><a href="{{ url_for('main.my_image_packages') }}">My Image Packages</a></li>
        <li><a href="{{ url_for('main.outbox') }}">Outbox</a></li>
        <li><a href="{{ url_for('main.grant_access') }}">Grant Sharing Access</a></li>
        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
    </ul>
</body>
</html>
