<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Upload Image</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='send_picture.css') }}">
</head>
<body>
  <h1>Upload Image</h1>
  <form method="post" enctype="multipart/form-data" action="{{ url_for('send_picture') }}">
    <div>
      <label for="recipient_username">Recipient Username:</label>
      <input type="text" id="recipient_username" name="recipient_username" required>
    </div>
    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>
  <h2>Uploaded Images</h2>
  <div>
    {% for sent_at, sender, image in images %}
    <div style="margin: 20px; display: inline-block;">
      <a href="{{ url_for('show_image', image_id=image.id) }}">{{ image.filename }}</a>
      <p>Sent by: {{ sender }} at {{ sent_at }}</p>
      <a href="{{ url_for('share_image', image_id=image.id) }}">Share Image</a>
    </div>
    {% endfor %}
  </div>
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('send_picture') }}">Send Picture</a></li>
    <li><a href="{{ url_for('send_message') }}">Send Message</a></li>
    <li><a href="{{ url_for('send_message_main') }}">Send Message Main</a></li>
    <li><a href="{{ url_for('my_image_packages') }}">My Image Packages</a></li>
    <li><a href="{{ url_for('grant_access') }}">Grant Sharing Access</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul> 
  <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
  
</body>
</html>

