<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Show Image</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='show_image.css') }}">
</head>
<body id="webcamButton">
  <section id="demos" class="invisible">
    <div id="liveView" class="videoView">
      <video id="webcam" autoplay></video>
    </div>
  </section>
  
  <!-- Import TensorFlow.js library -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.11.0/dist/tf.min.js" type="text/javascript"></script>
  
  <!-- Load the coco-ssd model to use to recognize things in images -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>

  
  <!-- Import the page's JavaScript to do some stuff -->
  <script src="{{ url_for('static', filename='vid.js') }}"></script>
  <h1>{{ data.image.filename }}</h1>
  <img id="imageToBlur" src="{{ url_for('get_image', image_id=data.image.id) }}" alt="{{ data.image.name }}" style="max-width: 800px;">
  <p>Uploaded by: {{ data.current_user.username }}</p>
  <ul>
    <li><a href="{{ url_for('main.home') }}">Home</a></li>
    <li><a href="{{ url_for('main.send_picture') }}">Send Picture</a></li>
    <li><a href="{{ url_for('main.my_image_packages') }}">My Image Packages</a></li>
    <li><a href="{{ url_for('main.outbox') }}">Outbox</a></li>
    <li><a href="{{ url_for('main.grant_access') }}">Grant Sharing Access</a></li>
    <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
    </ul>
</body>
</html>
